<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <form class="searchBar" style="width: 50%; padding: 5px;">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </div>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
            </div>
        </div>
    </form>
    <form class="searchCity" style="width: 40%; padding: 5px;">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="property.city">
            </div>
        </div>
    </form>
        <div class="row">
            <label>Rooms</label>
            <div ng-repeat="item in items" class="standard" flex="30">
                <label>
                    <input type="checkbox" ng-checked="roomsChecked(item)"
                           ng-click="toggle(item, selected)"/>
                    {{ item }}
                </label>
            </div>
        </div>
    <md-button class="md-raised" style="color: black; border-color:#FBA100">Search</md-button>
        </div>
</div>
<div class="row" ng-class="{active: isActive('/home')}">
    <div class="col-md-6 col-md-offset-3">
        <md-card style="width:100%" ng-repeat="property in properties | searchFor:searchString | searchFor: property.city | filter:roomFilter">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{property.title}}
                         <md-icon md-svg-src="/icons/ic_grade_black_18px.svg" style="fill:#FBA100"></md-icon>
                        {{property.averageRating}}
                        <span style="float:right;">{{property.price}} {{property.currency}}</span>
                    </span>

                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="col-md-5">
                    <div class="md-media-lg card-media">
                        <img src="/icons/house.jpg" class="md-card-image" alt="user avatar">
                    </div>
                </div>
                <div class="col-md-7">
                    <p>{{property.longDescription}}</p>
                </div>
            </md-card-content>
            <md-card-footer>
                <md-icon md-svg-src="/icons/ic_room_black_18px.svg"></md-icon>
                <span>{{property.address.city.cityName}}</span>
            </md-card-footer>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="favorite(property)">
                    <md-icon md-svg-icon="/icons/ic_favorite_black_18px.svg" style="fill:#E57373;"></md-icon>
                </md-button>
                <md-button ng-click="viewProperty(property)">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

