
    <div class="row" ng-class="{active: isActive('/home')}">
        <div class="col-md-6 col-md-offset-3">
            <md-card style="width:100%" ng-repeat="property in properties">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{property.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div class="col-md-5">
                        <div class="md-media-lg card-media">
                            <img src="/icons/close.svg" class="md-card-image" alt="user avatar">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p>{{property.longDescription}}</p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="viewProperty(property)">View</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </div>

