<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="60" layout="column" layout-align="center center">
    <!--<img ng-repeat="image in images"
         ng-hide="!isCurrentSlideIndex($index)" ng-src={{image}} >
    <a class="arrow prev" ng-click="nextSlide()"></a>
    <a class="arrow next" ng-click="prevSlide()"></a>
    <a ng-class="{'active':isCurrentSlideIndex($index)}"
       ng-click="setCurrentSlideIndex($index);"></a>
       -->
    <md-card  style="padding:5px;">
        <md-card-title>
            <span class="md-headline" style="font-weight:bold">{{property.price}} euro</span>
            <span>
                <md-icon md-svg-src="/icons/ic_grade_black_18px.svg" style="fill:#FBA100"></md-icon>
                    {{property.averageRating}}
            </span>

        </md-card-title>
        <md-card-content>
            <span class="md-headline" style="padding:5px;">{{property.title}}</span>
            <p style="padding:5px;">{{property.longDescription}}</p>
            <div class="row" style="padding:5px;">
                Address: {{property.address.streetName}}, {{property.address.streetNumber}}
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
    </md-card>
</div>
</md-content>

<div class="col-md-6 col-md-offset-1" style="padding: 5px;">
    <div class="row">
        <div ng-init="rating = star.rating + 1"></div>
        <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="getSelectedRating(rating)"></div>
    </div>
    <div class="row">
        <form class="commentBox">
            <md-input-container style="width:90%"><!-- doar daca userul e diferit de owner-->
                <label>Your review</label>
                <textarea ng-model="myComment" type="text" md-maxlength="400" rows="3" style='border-radius:4px;'></textarea>
            </md-input-container>
            <div class="row">
                <md-button class="customButton" ng-click="addComment(myComment)" style='margin-top:10px;'>Submit</md-button>
            </div>
            <h4>Comments</h4>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-3-line md-long-text" ng-repeat="comment in comments">
                        <img ng-src="" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3><!--stars rating--></h3>
                            <p>{{ comment }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </form>
    </div>
</div>
