.dialog{
    width: 50%;
    height: 60%;
}

.md-toolbar-tools, .blueNavbar{
    background-color: #8BC34A !important;
    color: white;
    padding: 2px;
}

.customButton{
    color: #8BC34A !important;
}

svg {
    fill: inherit;
}

md-dialog{
    overflow-x:hidden;
     width:100%;
}
.dialogContent {
   overflow-x: hidden;
   width:100%;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: lightgreen;
  padding: 5px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
}

li:hover .sub-menu {
  display: block;
}

.loginContainer {
    padding: 10px;
    margin-top:5%;

}

.loginForm{
    width: 100%;
    color: !important black;
}
.homebrand{
    color: black !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    color: black !important;
    border-color: black;
}

.raisedButton{
    background-color: #8BC34A !important;

}

md-checkbox.md-checked .md-icon {
         background-color: #8BC34A !important;
}
