.dialog{
    width: 50%;
    height: 50%;
}

.md-toolbar-tools, .blueNavbar{
    background-color: #64B5F6;
    color: white;
    padding: 2px;
}

.blueButtons{
    color: #64B5F6;
}

svg {
    fill: inherit;
}

md-dialog{
    overflow-x:hidden;
     width:100%;
}
.dialogContent {
   overflow-x: hidden;
   width:100%;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: lightgreen;
  padding: 5px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
}

li:hover .sub-menu {
  display: block;
}
