<div class="row">
    <div class="col-md-12 col-md-offset-1">
        <h2 style="padding:5px;">My Properties</h2>
    </div>
</div>
<div class="row" layout-align="center center">
    <div class="col-md-12">
        <div class="col-md-3" ng-repeat="property in properties">
            <md-card>
                <md-card-title ng-click="viewProperty()">
                    <img class="img-responsive" ng-src="/icons/house.jpg" alt="Washed Out" style="width:70%;">
                    <span class="md-headline" style="font-weight:bold">{{property.price}} euro</span>
                    <span>
                    <md-icon md-svg-src="/icons/ic_grade_black_18px.svg" style="fill:#FBA100"></md-icon>
                    {{property.averageRating}}
                </span>

                </md-card-title>
                <md-card-content>
                    <span class="md-headline" style="padding:5px;">{{property.title}}</span>
                    <p style="padding:5px;">{{property.longDescription | limitTo: 100 }}{{property.longDescription.length > 100 ? '...' : ''}}</p>
                    <p style="padding:5px;">Construction year: {{property.constructionYear}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="rented(property)">
                        <md-icon md-svg-icon="/icons/ic_vpn_key_black_18px.svg" ng-style="{color: {true:'#E57373'}[property.isRented]}"></md-icon>
                        Rented</md-button>
                    <md-button ng-click="viewProperty(property)">View</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-md-offset-1">
        <div class="col-md-3" style="padding-top: 48px;">
            View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select> records at a time.
        </div>
        <div class="col-md-6">
            <div class="pagination">
                <ul uib-pagination total-items="totalItems" items-per-page="query.limit" ng-model="query.page"
                    ng-change="pageChanged()"></ul>
            </div>
        </div>
    </div>
</div>
