<md-toolbar layout="row" layout-align="start end" class="blueNavbar">
    <div class="md-toolbar-tools">
        <a class="navbar-brand homebrand">Search for a home!</a>
        <md-button>Home</md-button>
        <md-button>My Properties</md-button>
        <md-button>All Properties</md-button>
        <span flex></span>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <md-button>
                <md-icon md-svg-src="icons/account_circle_black24px.svg" class="accountIcon" style="fill:white" ></md-icon>
                Account
                </md-button>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Something</a></li>
                    <!--<li><a href="#" ng-click="goEditProfile()">Edit Profile</a></li>-->
                    <li><a href="#">My Properties</a></li>
                    <li><a href="#">My Ratings</a></li>
                    <li><a href="#">Market analysis</a></li>
                    <li><md-divider></md-divider></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><md-divider></md-divider></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
         </div>
    </div>
</md-toolbar>